{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('bundles/fuzapp/js/collection/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}Advanced usage: custom theme with several aligned fields{% endblock %}

{% block body %}

    <h2>{{ block('title') }}</h2>

    <p>
        An other example of theming a collection, where fields are aligned and labels are
        disposed above each widget.
    </p>

    <div class="row">
        {%
            form_theme form
                'FuzAppBundle::jquery.collection.html.twig'
                'FuzAppBundle:Advanced:fancy-theme.html.twig'
        %}
        {{ form(form) }}
    </div>

    {% for row in data.fancyCollection %}
        <p>
            a = {{ row.a }}, b = {{ row.b }}, c = {{ row.c }}
        </p>
    {% endfor %}

    {{
        tabs([
            'Base/BaseController.php',
            'Controller/AdvancedController.php',
            'Resources/views/Advanced/fancy-theme.html.twig',
            'Resources/views/Advanced/fancyFormTheme.html.twig',
            'Entity/FancyCollection.php',
            'Entity/Fancy.php',
            'Form/FancyCollectionType.php',
            'Form/FancyType.php',
        ])
    }}

{% endblock %}

{% block script %}

    <script type="text/javascript">
        $('.collection').collection({
            'drag_drop_options': {
                'placeholder': null
            },
            allow_duplicate: true,
        });
    </script>

{% endblock %}
