{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}Basic usage{% endblock %}

{% block body %}

    <h2>Basic usage</h2>

    <p>This is a collection of simple text fields using the plugin with all default options.</p>

    {% form_theme form 'jquery.collection.html.twig' %}
    {{ form(form) }}

    <hr/>

    {% for value in data.values %}
        <p>Value : {{ value }}</p>
    {% endfor %}

    <hr/>

    <p>Code used to initialize the collection:</p>
    <pre>{{ block('script') | e }}</pre>

    <p>Full Symfony code:</p>
    {{
        tabs([
            'Controller/Basic/SimpleCollectionController.php',
            'Resources/views/Basic/SimpleCollection/simpleCollection.html.twig',
        ])
    }}

{% endblock %}

{% block script %}

    <script type="text/javascript">
        $('.my-selector').collection();
    </script>

{% endblock %}
