<div id="tabs">

        <ul class="nav nav-tabs">
            {% for file, contents in tabs %}
                <li {{ loop.index == 1 ? 'class="active"' : '' }}><a href="#i{{ file|md5 }}" data-toggle="tab">{{ file }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for file, contents in tabs %}
                <div class="tab-pane {{ loop.index == 1 ? 'active' : '' }}" id="i{{ file|md5 }}">
                    <pre><code>{{ contents }}</code></pre>
                </div>
            {% endfor %}
        </div>

</div>
