{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}JavaScript options : put only one "add" button at the bottom{% endblock %}

{% block body %}

    <h2>{{ block('title') }}</h2>

    <p>Use <code>add_at_the_end</code> option set to <code>false</code> (default) to create an <code>add</code> for each element of the collection.</p>

    <p>Use <code>add_at_the_end</code> option set to <code>true</code> if you want to have only one <code>add</code> button, located below the collection.</p>

    <div class="row">

        {# Option add_at_the_end disabled #}
        <div class="col-md-6">
            <h3>With the option set to <code>false</code></h3>

            <p>
                This is the default behaviour, an <code>add</code> button is added for each element of the collection.
            </p>

            {% form_theme disabled 'jquery.collection.html.twig' %}
            {{ form(disabled) }}

            {% for value in disabledData.values %}
                <p>Value : {{ value }}</p>
            {% endfor %}

        </div>

        {# Option add_at_the_end enabled #}
        <div class="col-md-6">
            <h3>With the option set to <code>true</code></h3>

            <p>
                Only one <code>add</code> button is available, located at the bottom of the collection.
            </p>

            {% form_theme enabled 'jquery.collection.html.twig' %}
            {{ form(enabled) }}

            {% for value in enabledData.values %}
                <p>Value : {{ value }}</p>
            {% endfor %}

        </div>
    </div>

    </div>

    <hr/>

    <p>Code used:</p>
    <pre>{{ block('script') | e }}</pre>

    {{
        tabs([
            'Base/BaseController.php',
            'Controller/OptionsController.php',
            'Resources/views/Options/addButtonAtTheBottom.html.twig',
        ])
    }}

{% endblock %}

{% block script %}

    <script type="text/javascript">

        $('.disabled-collection').collection();

        $('.enabled-collection').collection({
            add_at_the_end: true
        });

    </script>

{% endblock %}
