{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}JavaScript options: overview{% endblock %}

{% block body %}

    <h2>{{ block('title') }}</h2>

    <p>This page let you try many of the available Javascript options on the fly.</p>

    <p>Other options depends on your markup, they are available in the "Javascript Options" menu.</p>

    <div class="row">

        <div class="col-md-8">

            <form class="form-horizontal" onsubmit="return false;">
                <fieldset>

                    <legend>Choose your options</legend>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="enable-buttons">Tickable options</label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label for="enable-up">
                                    <input name="enable-up" id="enable-up" class="reload-collection" type="checkbox" checked>
                                    Enable Move Up button
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="enable-down">
                                    <input name="enable-buttons" id="enable-down" class="reload-collection" type="checkbox" checked>
                                    Enable Move Down button
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="enable-add">
                                    <input name="enable-buttons" id="enable-add" class="reload-collection" type="checkbox" checked>
                                    Enable Add button
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="enable-remove">
                                    <input name="enable-buttons" id="enable-remove" class="reload-collection" type="checkbox" checked>
                                    Enable Remove button
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="enable-duplicate">
                                    <input name="enable-buttons" id="enable-duplicate" class="reload-collection" type="checkbox" checked>
                                    Enable Duplicate button
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="add-at-the-end">
                                    <input name="add-at-the-end" id="add-at-the-end" class="reload-collection" type="checkbox">
                                    Move Add button at the bottom
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="drag-drop">
                                    <input name="drag-drop" id="drag-drop" class="reload-collection" type="checkbox" checked>
                                    Enable Drag & Drop
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="fade-in">
                                    <input name="fade-in" id="fade-in" class="reload-collection" type="checkbox" checked>
                                    Enable Fade In animation
                                </label>
                            </div>
                            <div class="checkbox">
                                <label for="fade-out">
                                    <input name="fade-out" id="fade-out" class="reload-collection" type="checkbox" checked>
                                    Enable Fade Out animation
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="up-layout">Change Up layout</label>
                        <div class="col-md-4">
                            <input
                                id="up-layout"
                                value='<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></a>'
                                class="form-control input-md reload-collection"
                                type="text">
                            <span class="help-block">Should be a link</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="down-layout">Change Down layout</label>
                        <div class="col-md-4">
                            <input
                                id="down-layout"
                                value='<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></a>'
                                class="form-control input-md reload-collection"
                                type="text">
                            <span class="help-block">Should be a link</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="add-layout">Change Add layout</label>
                        <div class="col-md-4">
                            <input
                                id="add-layout"
                                value='<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></a>'
                                class="form-control input-md reload-collection"
                                type="text">
                            <span class="help-block">Should be a link</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="remove-layout">Change Remove layout</label>
                        <div class="col-md-4">
                            <input
                                id="remove-layout"
                                value='<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></a>'
                                class="form-control input-md reload-collection"
                                type="text">
                            <span class="help-block">Should be a link</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="duplicate-layout">Change Duplicate layout</label>
                        <div class="col-md-4">
                            <input
                                id="duplicate-layout"
                                value='<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></a>'
                                class="form-control input-md reload-collection"
                                type="text">
                            <span class="help-block">Should be a link</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="min-elements">Minimum of elements</label>
                        <div class="col-md-4">
                            <input
                                id="min-elements"
                                value='0'
                                class="form-control input-md reload-collection"
                                type="text">
                            <span class="help-block">Should be a number</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="max-elements">Maximum of elements</label>
                        <div class="col-md-4">
                            <input
                                id="max-elements"
                                value='5'
                                class="form-control input-md reload-collection"
                                type="text">
                            <span class="help-block">Should be a number</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="init-witn-n-elements">Initialize with N elements</label>
                        <div class="col-md-4">
                            <input
                                id="init-witn-n-elements"
                                value='0'
                                class="form-control input-md reload-collection"
                                type="text">
                            <span class="help-block">Should be a number</span>
                        </div>
                    </div>

                </fieldset>
            </form>

            {{
                tabs([
                    'Base/BaseController.php',
                    'Controller/OptionsController.php',
                    'Resources/views/Options/overview.html.twig',
                    'Resources/views/Options/options-theme.html.twig',
                ])
            }}

        </div>

        <div class="col-md-4 follow-scroll">
            <fieldset>
                <legend>Result</legend>

                {{ form(form) }}

                {% for value in formData.values %}
                    <p>Value : {{ value }}</p>
                {% endfor %}
            </fieldset>
        </div>
    </div>

{% endblock %}

{% block script %}

    <!-- The name_prefix option is generated, please read at -->

    <script type="text/javascript">

        // follow-scroll
        // credits: https://stackoverflow.com/a/2178569/731138
        (function($) {
            var element = $('.follow-scroll'), originalY = element.offset().top;
            var topMargin = 20;
            element.css('position', 'relative');
            $(window).on('scroll', function(event) {
                var scrollTop = $(window).scrollTop();
                element.stop(false, false).animate({
                    top: scrollTop < originalY ? 0 : scrollTop - originalY + topMargin
                }, 300);
            });
        })(jQuery);

        var backup = $('.form-collection').html();

        function reloadCollectionButtons() {
            $('.form-collection').html(backup);

            $('.form-collection').collection({
                name_prefix: '{{ form.values.vars.full_name }}',
                allow_up: $('#enable-up').is(':checked'),
                allow_down: $('#enable-down').is(':checked'),
                allow_add: $('#enable-add').is(':checked'),
                allow_remove: $('#enable-remove').is(':checked'),
                allow_duplicate: $('#enable-duplicate').is(':checked'),
                up: $('#up-layout').val(),
                down: $('#down-layout').val(),
                add: $('#add-layout').val(),
                remove: $('#remove-layout').val(),
                duplicate: $('#duplicate-layout').val(),
                min: $('#min-elements').val(),
                max: $('#max-elements').val(),
                add_at_the_end: $('#add-at-the-end').is(':checked'),
                init_with_n_elements: $('#init-witn-n-elements').val(),
                drag_drop: $('#drag-drop').is(':checked'),
                fade_in: $('#fade-in').is(':checked'),
                fade_out: $('#fade-out').is(':checked'),
            });
        }

        reloadCollectionButtons();

        $('.reload-collection').click(function () {
            reloadCollectionButtons();
        }).keyup(function () {
            reloadCollectionButtons();
        });

    </script>

{% endblock %}
